In [ ]:
pip install -q yahoo_fin

In [2]:
mkdir -p data results log

In [ ]:
pip install  git+https://github.com/ahsank/runml#egg=runml

In [4]:
import runml.pipeline
from runml import pipeline,findata
from google.colab import drive
#from importlib import reload
# reload(runml.pipeline)

Run following if like to save results in drive

In [5]:
drive.mount('/content/drive')
!cp  /content/drive/MyDrive/colab/results/* ./results/

Mounted at /content/drive

In [ ]:
findata.EPOCHS=200
pipeline.IS_VERBOSE = False
tickers = ['ABNB', 'ACLS', 'AFRM' ,'AI', 'AMBA',
           'BILL', 'BMBL', 'CFLT', 'CRCT', 'CRWD',
           'DASH', 'DBX', 'DDOG', 'DOCN', 'DOCS', 'DOCU',
           'ESTC', 'EXPE', 'FSLY', 'GFS', 'GLBE', 'GOGO',
           'INMD', 'LYFT', 'MAXR', 'MDB',  'MNDY', 'MPWR',  'MQ', 'MXL',
           'MTCH', 'NET', 'NVAX', 'NVCR',
           'OKTA', 'OSTK', 'PAR', 'PD', 'PTON', 'RBLX',  'SNOW',
            'SPLK', 'STEM', 'SWAV',
           'TDOC', 'TOST', 'TTD', 'TWLO', 'TWTR', 
           'U','UBER', 'Z', 'ZEN', 'ZM']
lossfn = "huber_loss"
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df  = pipeline.runModelCombined(tickers, 'ipos5b', mod, True, loss=lossfn)[0]

In [9]:
df.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
35,OSTK,RROnly,798.37,840.03,1638.40,0.851064,5.089311,0.91,27.54,52.599998
44,TDOC,RROnly,1269.33,1268.55,2537.88,0.882979,34.004089,0.47,32.74,48.160000
8,CRCT,RROnly,37.10,101.37,138.47,0.891304,9.240230,0.40,8.35,11.680000
24,MAXR,RROnly,356.37,262.34,618.70,0.872340,5.095155,0.39,25.87,35.970001
15,DOCU,RROnly,1410.11,1436.96,2847.07,0.840426,43.333762,0.31,76.75,100.620003
32,NVAX,RROnly,1554.50,1798.17,3352.67,0.734043,10.178128,0.25,53.42,66.800003
20,GLBE,RROnly,48.77,232.10,280.87,0.925000,18.879288,0.24,19.47,24.049999
31,NET,RROnly,856.30,426.51,1282.81,0.894309,18.251292,0.24,55.69,68.830002
36,PAR,RROnly,351.40,439.08,790.48,0.914894,12.101893,0.24,35.19,43.810001
50,UBER,RROnly,205.50,308.84,514.34,0.865248,15.929533,0.22,23.35,28.500000
45,TOST,RROnly,21.29,87.46,108.75,0.904762,13.863857,0.22,15.36,18.700001
7,CFLT,RROnly,131.16,167.82,298.98,0.941176,21.028807,0.22,18.91,22.990000
52,ZEN,RROnly,628.37,657.62,1285.99,0.840426,50.799221,0.22,98.96,120.879997
16,ESTC,RROnly,898.52,1027.79,1926.31,0.929412,47.004619,0.22,60.00,73.199997
39,RBLX,RROnly,69.40,335.33,404.73,0.875000,25.889164,0.21,31.60,38.240002
37,PD,RROnly,230.10,349.15,579.25,0.951724,14.024348,0.21,23.92,28.850000
10,DASH,RROnly,363.03,653.66,1016.69,0.918033,65.094938,0.20,66.23,79.589996
27,MPWR,RROnly,2618.14,1248.29,3866.43,0.845745,110.359961,0.19,418.12,497.429993
18,FSLY,RROnly,438.47,751.44,1189.91,0.914286,12.688959,0.16,11.93,13.780000
3,AI,RROnly,32.91,269.80,302.71,0.836066,16.092502,0.16,18.22,21.100000
43,SWAV,RROnly,935.96,745.17,1681.13,0.866667,27.329040,0.15,158.27,181.380005
49,U,RROnly,271.47,682.57,954.04,0.902778,33.647480,0.14,41.32,46.980000
23,LYFT,RROnly,327.76,410.72,738.49,0.945205,17.663679,0.13,19.07,21.600000
0,ABNB,RROnly,336.12,480.40,816.52,0.850000,112.099936,0.13,112.55,126.900002
47,TWLO,RROnly,2144.10,1691.24,3835.34,0.829787,61.737505,0.12,103.03,115.010002
2,AFRM,RROnly,276.47,607.60,884.07,0.964286,18.698853,0.12,24.82,27.730000
40,SNOW,RROnly,917.81,1250.11,2167.92,0.944444,140.244392,0.11,141.49,157.550003
26,MNDY,RROnly,242.29,998.84,1241.13,0.916667,104.012330,0.11,114.27,126.790001
42,STEM,RROnly,129.07,152.44,281.51,0.942029,7.428581,0.09,7.59,8.310000
11,DBX,RROnly,133.38,159.42,292.80,0.925532,16.212260,0.09,20.17,21.959999
28,MQ,RROnly,25.06,92.24,117.30,0.944444,7.494363,0.08,9.84,10.670000
34,OKTA,RROnly,1503.69,1194.30,2697.99,0.898936,53.062945,0.07,84.22,90.019997
4,AMBA,RROnly,814.55,619.92,1434.47,0.872340,34.885646,0.07,76.45,81.879997
14,DOCS,RROnly,79.90,252.71,332.61,1.000000,31.638840,0.07,31.56,33.750000
33,NVCR,RROnly,1015.71,996.25,2011.96,0.872340,32.363366,0.07,74.70,79.870003
6,BMBL,RROnly,90.28,216.46,306.74,0.942308,17.664759,0.07,28.17,30.200001
30,MTCH,RROnly,690.08,690.66,1380.73,0.856383,36.579395,0.06,76.70,81.269997
38,PTON,RROnly,688.28,495.10,1183.38,0.900826,15.958166,0.06,14.51,15.400000
46,TTD,RROnly,570.36,565.76,1136.11,0.872340,10.384672,0.06,52.64,55.939999
41,SPLK,RROnly,1156.87,1180.43,2337.30,0.893617,91.227537,0.02,98.90,100.550003
51,Z,RROnly,800.56,552.95,1353.51,0.888298,27.819233,0.02,40.96,41.779999
48,TWTR,RROnly,396.88,256.16,653.04,0.909574,23.276368,0.01,38.29,38.720001
25,MDB,RROnly,3457.31,2042.14,5499.45,0.882979,57.701935,-0.01,248.10,245.660004
17,EXPE,RROnly,1015.93,865.28,1881.21,0.898936,48.984249,-0.01,124.59,122.839996
19,GFS,RROnly,26.23,90.62,116.85,0.875000,46.035546,-0.01,55.00,54.639999
1,ACLS,RROnly,349.98,183.08,533.06,0.813830,14.693937,-0.02,56.25,55.349998
21,GOGO,RROnly,119.81,90.50,210.31,0.851064,1.823479,-0.03,18.01,17.410000
29,MXL,RROnly,290.87,228.69,519.56,0.877660,9.334520,-0.03,38.45,37.270000
12,DDOG,RROnly,851.87,611.89,1463.76,0.942623,31.411034,-0.04,94.79,90.650002
53,ZM,RROnly,1695.42,2241.86,3937.28,0.875000,71.332481,-0.06,89.74,84.400002
13,DOCN,RROnly,219.18,282.10,501.28,0.956522,33.760990,-0.06,42.66,40.299999
5,BILL,RROnly,1427.77,990.00,2417.77,0.909910,35.296326,-0.08,118.63,109.699997
9,CRWD,RROnly,1278.16,906.23,2184.39,0.926471,38.283947,-0.16,148.74,124.809998
22,INMD,RROnly,230.18,212.29,442.47,0.890625,8.052362,-0.26,23.35,17.180000

In [ ]:
findata.EPOCHS=200
# https://seekingalpha.com/etfs-and-funds/etf-tables/sectors
tickers1 = ['ARKK', 'ARKW', 'DAPP', 'DIA', 'DTEC', 'EEM', 'FPX','GBTC', 
            'ICLN', 'IJR', 'IPO', 'IXC', 'IXN', 'IXP', 'IWM', 'IYZ'
            'JETS', 'MGK', 'MGV', 'MOAT', 'MTUM', 
            'QQQ', 'SMH', 'SMOG',
            'SPY', 'VNQ', 'VT', 'VTI', 'WDIV', 'XITK',
            'XLB', 'XLC', 'XLE', 'XLF', 'XLI', 'XLK',
            'XLRE', 'XLU', 'XLV', 'XLY', 'XME', 'XNTK', 'XSW' ]
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df1 = pipeline.runModelCombined(tickers1, 'etf4b', mod, True)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df1.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
12,IPOS,RROnly,101.94,111.56,213.49,0.914894,17.456277,0.32,18.19,23.940001
0,ARKK,RROnly,591.79,459.62,1051.41,0.936170,35.100063,0.22,52.46,63.770000
2,DAPP,RROnly,31.95,66.35,98.30,0.923077,11.640031,0.22,11.05,13.480000
7,GBTC,RROnly,307.67,220.30,527.98,0.835106,4.980783,0.14,28.04,31.940001
9,ICLN,RROnly,105.83,85.25,191.08,0.840426,7.916033,0.12,19.35,21.650000
23,SLV,RROnly,66.49,72.69,139.18,0.787234,11.545399,0.09,22.31,24.290001
31,XITK,RROnly,837.10,748.21,1585.31,0.920213,79.272617,0.08,131.35,141.550003
1,ARKW,RROnly,638.84,517.33,1156.17,0.909574,39.379718,0.08,70.11,75.699997
42,XME,RROnly,218.41,135.48,353.89,0.882979,14.774471,0.07,58.42,62.599998
33,XLC,RROnly,246.09,163.62,409.72,0.906077,38.744258,0.07,61.32,65.720001
4,DTEC,RROnly,164.65,127.77,292.42,0.941489,22.647302,0.05,38.40,40.259998
5,EEM,RROnly,125.48,151.12,276.60,0.904255,30.066362,0.05,42.38,44.549999
11,IPO,RROnly,226.61,238.00,464.61,0.840426,22.500733,0.05,36.71,38.720001
6,FPX,RROnly,393.70,334.77,728.47,0.872340,56.207203,0.04,99.24,103.480003
16,IWM,RROnly,716.52,548.20,1264.72,0.925532,99.344161,0.02,192.68,196.979996
21,MTUM,RROnly,644.51,255.29,899.80,0.888298,90.307080,0.02,153.24,155.820007
22,QQQ,RROnly,1240.58,624.00,1864.58,0.904255,144.204736,0.02,325.40,331.929993
44,XSW,RROnly,519.77,497.13,1016.90,0.877660,71.509459,0.02,133.92,136.100006
15,IXP,RROnly,203.67,147.97,351.64,0.888298,46.349803,0.02,67.22,68.430000
24,SMH,RROnly,1123.21,688.17,1811.38,0.898936,82.385819,0.01,234.73,236.720001
18,MGK,RROnly,769.11,521.64,1290.75,0.936170,99.064155,-0.00,211.66,211.429993
43,XNTK,RROnly,522.39,401.12,923.52,0.904255,55.291309,0.00,121.03,121.620003
41,XLY,RROnly,571.47,459.05,1030.53,0.872340,88.058554,-0.00,175.82,175.070007
40,XLV,RROnly,428.84,174.56,603.40,0.845745,73.632122,-0.00,133.67,133.279999
8,GLD,RROnly,401.01,205.10,606.11,0.824468,112.772525,-0.00,180.29,179.770004
10,IJR,RROnly,377.33,277.64,654.97,0.914894,48.558235,0.00,103.24,103.620003
20,MOAT,RROnly,207.50,122.45,329.95,0.888298,37.376513,-0.00,70.94,70.669998
14,IXN,RROnly,187.99,153.53,341.53,0.930851,22.449870,-0.00,52.06,52.009998
29,VTI,RROnly,682.62,354.72,1037.33,0.930851,109.842252,-0.01,214.22,212.570007
3,DIA,RROnly,837.20,592.54,1429.75,0.914894,181.947328,-0.01,338.27,334.559998
25,SMOG,RROnly,693.40,509.00,1202.40,0.914894,52.285637,-0.01,130.65,129.639999
27,VNQ,RROnly,346.18,144.87,491.05,0.845745,54.137468,-0.01,109.76,108.419998
26,SPY,RROnly,1082.56,856.45,1939.01,0.898936,219.926394,-0.02,426.04,419.579987
38,XLRE,RROnly,161.58,53.07,214.65,0.867021,24.322420,-0.02,49.37,48.200001
32,XLB,RROnly,284.97,139.73,424.71,0.898936,37.842739,-0.02,85.74,84.190002
36,XLI,RROnly,270.98,275.56,546.54,0.909574,48.393805,-0.02,98.43,96.919998
39,XLU,RROnly,202.08,108.99,311.07,0.856383,42.887131,-0.02,74.25,72.720001
19,MGV,RROnly,285.97,180.65,466.63,0.941489,54.671771,-0.03,105.20,102.459999
35,XLF,RROnly,135.90,84.22,220.13,0.909574,17.343518,-0.03,36.17,34.970001
37,XLK,RROnly,553.29,332.02,885.31,0.909574,57.219520,-0.03,143.08,139.229996
34,XLE,RROnly,323.64,220.34,543.98,0.898936,22.180901,-0.03,76.20,73.550003
28,VT,RROnly,276.81,170.81,447.62,0.925532,53.272467,-0.03,95.78,93.050003
17,JETS,RROnly,124.82,191.22,316.04,0.930851,12.322853,-0.03,22.35,21.760000
13,IXC,RROnly,108.02,134.20,242.22,0.904255,12.128799,-0.05,36.02,34.330002
30,WDIV,RROnly,144.07,111.90,255.96,0.851064,37.838290,-0.07,66.97,62.540001

In [ ]:
findata.EPOCHS=200
# exclude = ['GTSWF', 'CBNT', 'ILAL']
tickers3 = [ 'AIRI', 'APRN', 'AUGX', 'AHT', 'AMSC', 'ASTR', 'ATOM',
            'BKKT', 'BGSF', 'BLNK', 'CLOV', 
            'DMTK', 'EVGO', 'EXPR', 'GBOX',  'HIVE', 
            'INLX', 'JOBY',  'KULR', 'MMMB', 'MULN',
            'NEPH', 'OMQS', 'ONDS', 'OPEN', 'OTLY',
            'REAL', 'RIG', 'SFIX', 'STEM',
            'SFT', 'VRAR', 'WISH']
mod = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df3 = pipeline.runModelCombined(tickers3, 'vols4a', mod, False)[0]
# !cp -r results /content/drive/MyDrive/colab

In [ ]:
df3.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
14,GTSWF,RROnly,-2.13,1.24,-0.89,0.456522,0.221569,9.29,0.08,0.850000
2,AHT,RROnly,1095.69,2582.80,3678.49,0.734043,19.972138,1.17,7.05,15.290000
0,AIRI,RROnly,3.59,1.99,5.58,0.489362,0.836593,1.09,0.79,1.650000
21,MULN,RROnly,79.08,123.47,202.55,0.845745,1.214096,0.99,1.32,2.630000
13,GBOX,RROnly,19.62,6.58,26.20,0.510638,1.291383,0.66,3.61,6.000000
30,VRAR,RROnly,24.13,20.98,45.11,0.766667,5.154011,0.65,4.43,7.290000
28,STEM,RROnly,83.45,155.05,238.50,0.939394,8.274133,0.33,7.17,9.550000
10,DMTK,RROnly,133.26,180.37,313.63,0.601064,10.179747,0.32,8.55,11.310000
31,WISH,RROnly,18.92,52.33,71.24,0.719298,2.530923,0.27,1.70,2.160000
27,SFIX,RROnly,179.61,235.44,415.05,0.563830,16.053517,0.23,9.50,11.700000
20,MTTR,RROnly,51.60,81.95,133.55,0.860000,6.549708,0.22,5.74,7.000000
19,MMMB,RROnly,-1.28,0.34,-0.93,0.333333,1.721617,0.20,1.75,2.100000
3,AMSC,RROnly,93.21,130.20,223.41,0.797872,5.392101,0.20,5.33,6.420000
15,HIVE,RROnly,20.34,17.53,37.87,0.691489,0.210719,0.20,1.46,1.760000
26,RIG,RROnly,44.34,74.70,119.04,0.856383,1.071153,0.19,3.76,4.470000
6,BKKT,RROnly,103.64,41.65,145.29,0.683333,4.508432,0.18,3.82,4.500000
29,SFT,RROnly,22.91,55.78,78.69,0.738806,1.711890,0.18,1.34,1.590000
11,EVGO,RROnly,35.14,66.75,101.89,0.900000,7.751038,0.14,9.06,10.330000
25,REAL,RROnly,60.11,61.35,121.46,0.618321,7.993189,0.13,5.42,6.100000
22,NEPH,RROnly,65.84,42.65,108.49,0.824468,4.186004,0.12,3.98,4.460000
4,ASTR,RROnly,56.56,47.10,103.66,0.848485,3.761246,0.10,3.20,3.530000
23,OMQS,RROnly,5.42,24.11,29.52,0.553191,4.016777,0.07,6.78,7.250000
12,EXPR,RROnly,42.50,79.83,122.33,0.803191,0.888576,0.06,3.44,3.640000
18,KULR,RROnly,26.86,19.11,45.97,0.803371,0.941660,0.05,1.60,1.680000
5,ATOM,RROnly,185.04,124.20,309.23,0.734043,3.511509,0.03,10.45,10.760000
17,JOBY,RROnly,13.06,29.37,42.43,0.790323,4.109256,0.02,5.24,5.360000
9,CLOV,RROnly,67.33,53.57,120.90,0.795181,2.921220,-0.01,2.69,2.660000
1,AUGX,RROnly,6.73,14.86,21.59,0.833333,2.261197,-0.08,2.88,2.650000
24,ONDS,RROnly,32.28,32.62,64.90,0.948276,4.494617,-0.09,8.11,7.370000
7,BGSF,RROnly,91.58,109.78,201.36,0.776596,6.484668,-0.09,12.21,11.150000
16,INLX,RROnly,65.78,57.60,123.38,0.707447,0.472637,-0.10,5.05,4.540000
8,BLNK,RROnly,282.78,193.27,476.05,0.819149,2.746599,-0.12,19.10,16.889999

In [ ]:
findata.EPOCHS=200
tickers4 = ['AAPL', 'ACN', 'ADBE', 'AMD', 'AMZN', 'AVGO', 'BA', 'BKNG', 'BRK-B',
            'CAT', 'CRM', 'COST', 'CSCO', 'DE', 'DHR', 'DIS', 'GOOGL', 'FB',
            'HD', 'INTC', 'IBM', 'ISRG', 'MSFT', 'NKE', 'NVDA', 'NOW',
            'ORCL', 'PYPL', 'SBUX', 'TMO', 'UNH']
mod4 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
# mod = pipeline.RateReturnOnly(pipeline.AddDayMonth())
df4 = pipeline.runModelCombined(tickers4, 'mcap4b', mod4, True)[0]
# !cp results/mcap* /content/drive/MyDrive/colab/results/

In [ ]:
df4.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
27,PYPL,RROnly,1007.69,1384.78,2392.47,0.872340,79.833612,0.25,87.93,109.879997
6,BA,RROnly,1406.87,2680.20,4087.07,0.904255,101.081534,0.20,148.84,179.070007
15,DIS,RROnly,605.45,674.52,1279.97,0.893617,88.411483,0.11,111.63,124.209999
4,AMZN,RROnly,14992.08,10561.53,25553.61,0.856383,1392.251192,0.11,2485.63,2769.830078
9,CAT,RROnly,904.94,607.29,1512.23,0.904255,90.082580,0.07,210.54,224.850006
16,GOOGL,RROnly,8803.85,5364.35,14168.20,0.840426,1015.099988,0.05,2282.19,2393.080078
13,DE,RROnly,1198.25,769.20,1967.45,0.781915,113.506038,0.04,377.55,394.369995
19,INTC,RROnly,239.10,222.89,461.99,0.898936,39.648345,0.03,43.59,45.040001
0,AAPL,RROnly,710.61,306.38,1016.99,0.877660,36.712442,0.02,157.65,160.600006
8,BRK-B,RROnly,1000.74,424.22,1424.96,0.888298,165.256235,0.02,322.83,328.739990
22,MSFT,RROnly,1076.70,368.45,1445.15,0.797872,94.950604,0.01,277.52,279.119995
25,NOW,RROnly,3434.68,1921.27,5355.95,0.882979,167.893189,0.01,478.10,483.640015
11,COST,RROnly,1976.00,659.12,2635.12,0.856383,185.619429,-0.00,531.72,529.710022
14,DHR,RROnly,1280.18,636.11,1916.30,0.856383,97.353007,-0.00,251.13,250.179993
28,SBUX,RROnly,437.67,313.96,751.63,0.856383,46.706430,0.00,74.64,74.910004
12,CSCO,RROnly,193.84,167.64,361.48,0.867021,31.731853,-0.03,48.98,47.560001
29,TMO,RROnly,1990.71,792.16,2782.86,0.872340,208.520716,-0.03,552.92,535.549988
5,AVGO,RROnly,2297.01,1134.31,3431.32,0.835106,163.496744,-0.03,554.39,535.059998
2,ADBE,RROnly,2122.64,2273.88,4396.52,0.882979,214.258327,-0.03,395.95,383.230011
26,ORCL,RROnly,294.16,209.65,503.82,0.845745,39.545456,-0.04,73.40,70.639999
20,IBM,RROnly,540.05,445.53,985.58,0.909574,83.325758,-0.04,132.21,126.839996
18,HD,RROnly,1253.50,944.67,2198.16,0.872340,150.913543,-0.04,300.40,289.859985
30,UNH,RROnly,1362.52,853.83,2216.35,0.813830,195.721531,-0.05,508.55,481.079987
24,NVDA,RROnly,1405.71,529.21,1934.91,0.861702,35.841583,-0.06,185.47,174.389999
17,FB,RROnly,1207.36,1229.95,2437.31,0.888298,129.406303,-0.06,200.47,187.550003
7,BKNG,RROnly,12259.22,7958.29,20217.51,0.925532,1189.813289,-0.06,2210.31,2073.820068
21,ISRG,RROnly,1386.51,936.84,2323.35,0.893617,127.361945,-0.07,239.30,222.919998
10,CRM,RROnly,1169.54,1076.82,2246.36,0.925532,124.247664,-0.07,175.94,162.860001
23,NKE,RROnly,632.65,370.11,1002.75,0.893617,63.847715,-0.08,124.70,114.699997
1,ACN,RROnly,1098.34,974.93,2073.27,0.877660,131.761985,-0.10,300.36,271.019989
3,AMD,RROnly,749.89,374.96,1124.85,0.829787,14.393925,-0.11,85.52,76.489998

In [ ]:
findata.EPOCHS=200
tickers5 = ['ALSMY', 'ASML', 'ADDDF', 'ADYEY', 'BASFY', 'BESIY', 'COTY', 'COVTY', 'CX',
            'DBOEY', 'EADSF', 'EIFZF', 'EDNMF', 'ENGGY', 'ERIC', 'ERJ','ESEA',
            'FANUY', 'DNMR', 'GLOB', 'FTCH', 'HCMLY', 'HENKY', 'JMIA', 'MELI',
            'NXPI', 'OZON', 'RACE', 'LYB', 'LVMUY',
            'MYTE', 'MTTR', 'NOK', 'OTGLY', 'PROSF', 'RYCEF', 'SAFRF', 'SFTBY',
            'ORAN', 'SAP', 'SHOP', 'SIEGY', 'STNE', 'SPOT',
            'TEAM', 'TEF', 'TRYIY', 'TSM',
            'VALE', 'VNT', 'VWAPY', 'YARIY']
mod5 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df5 = pipeline.runModelCombined(tickers5, 'gstock4a', mod5, False)[0]

loading model from results/gstock4a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df5.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
40,SHOP,RROnly,6981.02,5173.49,12154.51,0.819149,151.045974,0.73,377.49,654.059998
19,GLOB,RROnly,1375.14,932.80,2307.94,0.813830,52.703779,0.32,194.05,255.449997
23,JMIA,RROnly,261.09,207.91,469.00,0.852113,3.483263,0.31,6.44,8.450000
31,MTTR,RROnly,20.42,29.39,49.81,0.647059,7.899645,0.30,4.98,6.480000
35,RYCEF,RROnly,20.65,58.76,79.41,0.819149,1.164472,0.28,1.00,1.280000
6,COTY,RROnly,46.84,62.18,109.02,0.675532,3.431368,0.22,7.28,8.920000
8,CX,RROnly,6.94,14.07,21.01,0.601064,2.129645,0.22,4.19,5.120000
50,VWAPY,RROnly,116.59,176.33,292.92,0.867021,9.304198,0.21,15.40,18.629999
44,TEAM,RROnly,1567.51,1029.01,2596.52,0.776596,68.115092,0.20,202.26,242.949997
20,FTCH,RROnly,276.82,374.27,651.09,0.894118,8.099171,0.19,9.40,11.140000
33,OTGLY,RROnly,34.14,51.84,85.98,0.616071,7.826981,0.18,6.50,7.650000
47,TSM,RROnly,336.30,307.06,643.35,0.819149,33.433385,0.17,91.63,106.900002
42,STNE,RROnly,448.76,428.17,876.93,0.927273,9.805929,0.17,8.51,9.990000
29,LVMUY,RROnly,583.92,451.03,1034.95,0.867021,53.189587,0.17,117.91,137.929993
7,COVTY,RROnly,113.95,156.42,270.37,0.824468,12.360499,0.15,20.23,23.219999
36,SAFRF,RROnly,594.06,609.18,1203.24,0.851064,59.800614,0.13,99.75,112.320000
2,ADDDF,RROnly,1226.18,1415.36,2641.55,0.856383,176.363765,0.13,188.95,214.380005
18,DNMR,RROnly,219.96,205.43,425.39,0.860465,4.466551,0.11,4.43,4.920000
32,NOK,RROnly,28.51,33.61,62.12,0.909574,2.497960,0.11,4.96,5.530000
21,HCMLY,RROnly,39.14,40.50,79.64,0.861702,5.877340,0.09,9.56,10.450000
4,BASFY,RROnly,51.52,95.39,146.92,0.888298,9.093972,0.09,12.59,13.670000
17,FANUY,RROnly,91.71,95.48,187.19,0.867021,11.826080,0.08,14.88,16.090000
22,HENKY,RROnly,49.35,74.24,123.58,0.765957,14.126159,0.08,15.94,17.170000
24,MELI,RROnly,9050.50,6219.61,15270.11,0.882979,292.594214,0.08,927.55,1000.909973
34,PROSF,RROnly,347.45,479.67,827.12,0.915966,46.960088,0.08,44.65,48.040001
27,RACE,RROnly,878.83,742.35,1621.17,0.872340,96.805520,0.07,197.86,211.929993
26,OZON,RROnly,41.99,218.15,260.14,0.866667,12.991450,0.07,11.60,12.450000
15,ERJ,RROnly,98.66,99.41,198.06,0.856383,4.648685,0.07,11.28,12.110000
30,MYTE,RROnly,11.92,68.99,80.91,0.849057,11.665832,0.06,11.08,11.760000
51,YARIY,RROnly,112.65,79.91,192.56,0.893617,10.645126,0.06,25.19,26.700001
14,ERIC,RROnly,41.16,58.43,99.59,0.867021,6.145815,0.06,7.71,8.210000
10,EADSF,RROnly,593.31,497.08,1090.39,0.813830,53.335340,0.06,112.50,119.050003
25,NXPI,RROnly,820.87,541.98,1362.84,0.835106,66.204806,0.05,177.58,185.639999
12,EDNMF,RROnly,246.03,90.61,336.64,0.489362,28.413013,0.05,49.11,51.590000
41,SIEGY,RROnly,237.02,223.62,460.65,0.803191,32.879646,0.03,60.40,62.290001
5,BESIY,RROnly,373.23,349.19,722.42,0.867021,16.674957,0.03,55.00,56.889999
43,SPOT,RROnly,1264.98,1834.00,3098.98,0.877660,103.772894,0.03,104.68,108.169998
39,SAP,RROnly,513.08,492.70,1005.78,0.819149,93.424780,0.03,96.14,98.750000
48,VALE,RROnly,82.58,77.82,160.39,0.872340,5.760418,0.03,15.72,16.200001
37,SFTBY,RROnly,173.09,209.60,382.68,0.904255,13.526399,0.03,19.41,19.910000
49,VNT,RROnly,18.66,36.01,54.66,0.724638,23.393814,0.03,26.99,27.860001
3,ADYEY,RROnly,11.39,10.08,21.47,0.550847,8.365561,0.02,15.05,15.330000
9,DBOEY,RROnly,64.12,61.69,125.81,0.888298,10.214484,0.02,16.94,17.260000
46,TRYIY,RROnly,22.10,43.08,65.18,0.622340,7.986240,0.02,9.68,9.890000
11,EIFZF,RROnly,167.60,127.05,294.64,0.797872,8.387212,-0.00,31.51,31.459999
1,ASML,RROnly,3082.92,2326.18,5409.11,0.877660,149.990658,0.00,551.00,551.179993
45,TEF,RROnly,11.42,20.92,32.35,0.739362,3.161024,-0.02,4.93,4.850000
28,LYB,RROnly,407.68,299.02,706.70,0.771277,34.880551,-0.03,110.22,107.050003
13,ENGGY,RROnly,35.87,38.01,73.87,0.882979,7.590380,-0.04,10.92,10.510000
38,ORAN,RROnly,30.43,37.42,67.85,0.851064,9.147738,-0.05,12.18,11.510000
16,ESEA,RROnly,228.04,150.48,378.52,0.771277,2.563324,-0.05,25.10,23.780001
0,ALSMY,RROnly,23.13,29.79,52.92,0.893617,1.990847,-0.05,2.32,2.210000

In [ ]:
findata.EPOCHS=200
tickers6 = ['AGT', 'ARGT', 'EWD', 'FLN',
            'ECH', 'EWC', 'EWM', 'EWP', 'EWW', 'EWY', 'EWZ',
            'IDX', 'ILF', 'KEMQ', 'THD', 'TUR', 'XCEM']
mod6 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df6 = pipeline.runModelCombined(tickers6, 'cetf5a', mod6, True)[0]

In [ ]:
df6.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
13,KEMQ,RROnly,104.44,123.94,228.38,0.941489,15.265870,0.19,14.87,17.740000
5,EWC,RROnly,101.16,50.27,151.42,0.835106,17.357491,0.05,36.82,38.830002
11,IDX,RROnly,80.77,66.07,146.84,0.872340,10.506995,0.03,21.83,22.480000
6,EWM,RROnly,56.86,71.60,128.46,0.877660,17.866933,0.02,24.16,24.660000
15,TUR,RROnly,120.68,147.61,268.29,0.861702,17.408619,0.01,22.26,22.430000
8,EWW,RROnly,162.01,177.17,339.18,0.872340,24.867760,-0.02,48.43,47.389999
2,EWD,RROnly,170.65,122.27,292.92,0.904255,20.632105,-0.02,33.96,33.410000
7,EWP,RROnly,89.67,77.41,167.08,0.856383,17.361492,-0.02,24.31,23.750000
9,EWY,RROnly,260.58,293.28,553.86,0.904255,38.907102,-0.03,66.13,64.360001
16,XCEM,RROnly,90.39,65.71,156.10,0.851064,16.641637,-0.04,27.62,26.459999
4,ECH,RROnly,129.02,184.81,313.83,0.930851,17.135809,-0.04,25.92,24.959999
1,ARGT,RROnly,151.40,138.77,290.17,0.888298,14.629475,-0.08,30.50,27.990000
14,THD,RROnly,249.89,302.33,552.22,0.920213,47.366299,-0.08,73.31,67.360001
0,AGT,RROnly,155.49,115.99,271.47,0.941489,12.586030,-0.08,26.10,24.129999
12,ILF,RROnly,124.82,136.16,260.98,0.920213,14.594821,-0.10,25.32,22.750000
10,EWZ,RROnly,174.50,233.41,407.90,0.946809,19.269271,-0.11,31.34,27.959999
3,FLN,RROnly,79.38,93.05,172.43,0.877660,9.647085,-0.15,18.00,15.340000

In [ ]:
findata.EPOCHS=200
tickers7 = ['APO', 'BAH', 'BAX', 'BGFV', 'CG', 'CMI', 'F', 'FLO',
            'HSII', 'HPE', 'IP', 'IPI', 'JWN', 'KHC', 'M', 'NTR', 'OMC', 
            'PCAR', 'PETS', 'RH', 'REGN', 'SPTN', 'SWK', 'T', 'TDG', 'TWI',
            'UNH', 'VRTX', 'VZ', 'WDC', 'WHR', 'WSM', 'XOM']
mod7 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df7 = pipeline.runModelCombined(tickers7, 'val4a', mod7, False)[0]

loading model from results/val4a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [ ]:
df7.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
31,WSM,RROnly,671.57,579.08,1250.64,0.840426,32.302116,0.25,126.11,158.089996
11,IPI,RROnly,427.34,297.81,725.15,0.824468,9.364373,0.17,65.42,76.580002
8,HSII,RROnly,217.61,204.42,422.03,0.925532,18.022253,0.12,31.10,34.759998
27,VRTX,RROnly,942.85,679.83,1622.68,0.898936,149.402512,0.11,246.72,274.470001
6,F,RROnly,79.16,70.82,149.98,0.893617,4.192011,0.11,13.50,15.010000
24,TDG,RROnly,3485.64,3188.27,6673.92,0.941489,253.167703,0.08,563.81,608.020020
12,JWN,RROnly,241.36,404.59,645.95,0.882979,12.532013,0.06,23.99,25.350000
14,M,RROnly,109.46,191.53,300.99,0.851064,4.986683,0.06,21.55,22.790001
28,VZ,RROnly,127.77,132.43,260.20,0.930851,40.206163,0.05,48.18,50.419998
19,RH,RROnly,3033.42,2239.71,5273.13,0.925532,88.393773,0.05,289.65,302.869995
2,BAX,RROnly,301.97,285.97,587.95,0.909574,59.872450,0.04,73.03,76.180000
3,BGFV,RROnly,135.21,81.57,216.78,0.787234,1.063018,0.04,13.60,14.130000
20,REGN,RROnly,2731.92,2275.75,5007.67,0.898936,280.874759,0.04,645.52,669.369995
26,UNH,RROnly,1615.52,890.63,2506.16,0.829787,195.478191,0.04,485.40,505.359985
18,PETS,RROnly,157.21,147.38,304.60,0.835106,14.489901,0.04,21.22,21.990000
1,BAH,RROnly,357.12,212.42,569.54,0.851064,40.390342,0.01,80.53,81.190002
16,OMC,RROnly,284.81,206.58,491.39,0.898936,44.059348,0.01,77.01,77.470001
22,SWK,RROnly,840.56,668.90,1509.46,0.920213,71.918540,0.00,121.61,122.029999
4,CG,RROnly,206.49,129.89,336.37,0.925532,14.097255,0.00,37.67,37.669998
21,SPTN,RROnly,42.40,-10.14,32.26,0.510638,9.701616,-0.01,33.78,33.439999
17,PCAR,RROnly,132.91,79.23,212.14,0.606383,50.168181,-0.02,83.75,82.489998
30,WHR,RROnly,898.99,942.40,1841.39,0.925532,63.304373,-0.02,182.96,178.820007
10,IP,RROnly,201.21,176.72,377.93,0.893617,23.627628,-0.03,47.79,46.509998
7,FLO,RROnly,93.23,48.97,142.20,0.867021,16.346302,-0.03,27.34,26.520000
15,NTR,RROnly,356.31,189.62,545.92,0.904255,24.074785,-0.06,98.95,92.849998
5,CMI,RROnly,862.39,768.52,1630.92,0.920213,100.431454,-0.06,201.12,188.520004
0,APO,RROnly,352.43,177.48,529.91,0.867021,20.717385,-0.07,54.20,50.169998
23,T,RROnly,56.36,56.16,112.51,0.835106,15.565349,-0.08,19.84,18.270000
25,TWI,RROnly,74.81,51.72,126.52,0.867021,1.452226,-0.09,16.70,15.220000
29,WDC,RROnly,400.36,454.28,854.64,0.909574,30.295067,-0.09,58.45,53.119999
13,KHC,RROnly,133.24,192.16,325.40,0.898936,18.903921,-0.09,44.29,40.110001
9,HPE,RROnly,43.83,48.45,92.29,0.670213,7.933902,-0.09,15.95,14.520000
32,XOM,RROnly,51.14,-31.20,19.94,0.500000,32.807310,-0.13,88.86,77.239998

In [ ]:
findata.EPOCHS=200
tickers8 = [ 'GLD', 'JJU', 'PDBC', 'SLV', 'SOYB', 'TIP', 'UUP', 'WEAT']
mod8 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df8 = pipeline.runModelCombined(tickers8, 'com5a', mod8, True)[0]

In [ ]:
df8.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
3,SLV,RROnly,85.44,76.87,162.31,0.739362,11.749350,0.15,19.42,22.330000
0,GLD,RROnly,390.65,311.79,702.44,0.824468,113.292831,0.04,168.79,176.220001
1,JJU,RROnly,173.07,49.85,222.92,0.686170,33.382429,0.04,59.98,62.139999
5,TIP,RROnly,113.62,38.41,152.03,0.718085,99.163111,0.01,118.71,119.839996
6,UUP,RROnly,27.36,17.83,45.19,0.813830,24.029795,-0.01,27.97,27.740000
4,SOYB,RROnly,57.52,22.88,80.40,0.776596,13.701561,-0.03,27.87,26.940001
7,WEAT,RROnly,16.92,7.88,24.80,0.675532,5.091488,-0.06,11.64,10.930000
2,PDBC,RROnly,43.18,13.22,56.40,0.664894,7.598456,-0.09,18.97,17.309999

In [6]:
findata.EPOCHS=200
tickers9 = [ 'BTC-USD', 'ETH-USD', 'ADA-USD']
mod9 = pipeline.RateReturnOnly(
    pipeline.FeatureSeq([pipeline.AddDayMonth(), pipeline.AddVWap(), pipeline.AddMA(200)]))
df9 = pipeline.runModelCombined(tickers9, 'cry', mod9, False)[0]

loading model from results/cry-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

In [7]:
df9.sort_values('Gain', ascending=False)

,Ticker,Name,Buy,Sell,Total,Accuracy,Error,Gain,Last,Predicted
2,ADA-USD,RROnly,8.33,5.09,13.42,0.606383,0.136180,0.22,0.52,0.630000
0,BTC-USD,RROnly,221400.25,126406.72,347806.97,0.643617,7463.825779,0.17,29253.36,34109.039062
1,ETH-USD,RROnly,23840.15,4881.19,28721.34,0.648936,284.636319,0.17,1964.30,2291.169922

In [ ]:
 # !cp -ru results /content/drive/MyDrive/colab
 !rsync -av --ignore-existing results/* /content/drive/MyDrive/colab/results/
 ! find /content/drive/MyDrive/colab/ -type f -mtime +60 -delete -print

sending incremental file list
com5a-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5
cry-sh-1-sc-1-sbd-0-seq-50-step-15-wRROnly-wdm-wvwap-wma-adjclose-200-model-huber_loss-adam-LSTM-layers-2-units-256.h5

sent 6,428,544 bytes  received 54 bytes  12,857,196.00 bytes/sec
total size is 41,763,384  speedup is 6.50